@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans&family=Poppins&family=Rhodium+Libre&family=Risque&family=Syne+Mono&display=swap');
header{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid red;
}
h1 {
  font-size: 45pt;
  font-family: "Poppins", sans-serif;
}
h2{
  font-family: "Poppins", sans-serif;
}
ul{
  text-align: center;
  list-style-position: inside;
  font-family: "IBM Plex Sans", sans-serif;
}
li{
  text-align: center;
  list-style-type: none;
}
#step-1{
  list-style-type: "\1F4A1";
}
#step-2{
  list-style-type: "\274C";
}
#step-3{
  list-style-type: "\26D4";
}
#step-4{
  list-style-type: "\231B";
}
#tip-1{
  list-style-type: "\2705";
}
#tip-2{
	list-style-type: "\2B50"
}
#setup-game{
  display: flex;
  justify-content: center;
}
#setup-game > * {
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
}
#level, #time, #theme{
  font-family: "Syne Mono";
  font-size: 17px;
}
#start-btn{
  font-family: "IBM Plex Sans";
}
button{
  justify-self: center;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}
body{
  background-color: antiquewhite;
}